.projects {
  width: 100%;
  margin: 50px 15%;
}
.projects h2 {
  color: var(--green);
  font-size: 30px;
  display: flex;
}
.projects h2::after {
  content: "";
  display: block;
  position: relative;
  align-self: center;
  top: 4px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #233554;
}
.projects .project-container {
  padding: 40px 0;
  display: flex;
  width: 100%;
}
.projects .project-container .container-img {
  width: 40%;
}
.projects .project-container .project-img:hover {
  opacity: 1;
}
.projects .project-container .project-img {
  background-image: url("../../img/pimg1.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 250px;
  width: 33%;
  border-radius: 3px;
  z-index: 1;
  transition: all 0.5s ease;
  opacity: 0.7;
  position: absolute;
}
.projects .project-container .project-img .img-layer {
  width: 50%;
  z-index: 3;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  /* background-color: #0a192f; */
  background-color: var(--navy-shadow);
  mix-blend-mode: screen;
  height: 100%;
  border-radius: 3px;
}
.left-container .container-content {
  position: relative;
  right: 0px;
  display: flex;
  width: 40%;
  z-index: 4;
  flex-direction: column;
  align-items: flex-start;
}
.right-container .container-content {
  position: relative;
  right: 230px;
  display: flex;
  width: 40%;
  z-index: 4;
  flex-direction: column;
  align-items: flex-end;
}
.container-content .project-overline {
  color: var(--green);
  margin: 0;
  font-size: 14px;
  font-family: var(--ptfont);
}
.container-content h3 {
  margin: 10px 0;
  color: var(--lightest-navy);
  font-size: 27px;
  font-family: var(--lato);
}
.container-content .Project-desc {
  background-color: var(--Yankees-Blue);
  color: var(--light-Yankees-Blue);
  padding: 6px 30px;
  margin: 10px 0;
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  width: 80%;
  font-size: 16px;
  font-family: var(--ptfont);
  border-radius: 3px;
}
.container-content .Project-desc {
  background-color: var(--Yankees-Blue);
  color: var(--light-Yankees-Blue);
  padding: 6px 30px;
  margin: 10px 0;
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  width: 80%;
  font-size: 16px;
  font-family: var(--ptfont);
  border-radius: 3px;
}
.container-content .project-tech {
  list-style: none;
  display: flex;
  font-family: var(--ptfont);
  padding-left: 0;
}
.container-content .project-tech li {
  padding-left: 15px;
}
.container-content .project-link {
  display: flex;
  padding: 0 4px;
}
.container-content .project-link a svg {
  color: var(--green);
  width: 22px;
  padding-left: 15px;
}
