a{
    text-decoration: none;
    color: inherit;
}
.profile{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    /* gap: 50px; */
    padding: 0 10% 0;
}
.profile .profile-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}
.profile .profile-text h1{
    font-family: 'Lato', sans-serif;
    color: var(--lightest-navy);
    /* padding: 5px 0; */
    margin: 5px 0 0 0;
    font-size: clamp(40px, 8vw, 50px);
}
.profile .profile-text h1 img{
    padding: 0px 10px;
}
.profile .profile-text p:first-child{
    margin: 0px 0px 15px 4px;
    font-weight: 400;
    color: var(--lightest-navy);
}
.profile .profile-text p{
    font-family: 'PT Sans', sans-serif;
    margin: 20px 0px 20px 0px;
}
.profile .profile-text .profile-text-about{
    width: 100%;
}
.profile .profile-social-links a{
    margin-inline-end: 12px;
}
.profile .profile-text a svg{
    height: 26px;
    width: 26px;
}
.profile .profile-text a svg:hover{
    color: var(--green);
}
.profile .profile-img{
    text-align: center;
    width: 40%;
    pointer-events: none;
    user-select: none;
    /* background-image: url('../img/pfp5.jpg'); */
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
    /* width: 20%; */
    /* height: 50%; */
    /* border-radius: 100%; */
    display: flex;
}
.profile .profile-img img{
    width: 60%;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
}
/* .profile .img-shade{
    position: absolute;
    width: 300px;
    margin: 1px 0;
    right: 345px;
    height: 300px;
    border:1px solid var(--green);
    background-color:var(--green);
    border-radius: 50%;
    z-index: 0;
} */
/* .profile .profile-img::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    border: 1px solid var(--green);
} */
.profile .profile-text button{
    /* background-color: #414244; */
    background-color: transparent;
    border: 1px solid var(--green);
    color: var(--lightest-navy);
    margin: 20px 0;
    width: 190px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: .5s ease all;
}
.profile .profile-text button:hover{
    background-color: rgba(168, 168, 255, 0.057);
}

@media only screen and (max-width:768px) {
    .profile{
        gap: 0px;
        justify-content: center;
        padding: 0 5% 0;
    }
    .profile .profile-text h1{
        font-size: 20px;
    }
    .profile .profile-text p{
        font-size: 10px;
        margin: 10px 0px 10px 0px;
    }
    .profile .profile-text p:first-child{
        margin: 0px 0px 2px 4px;
    }
    .profile .profile-text a svg{
        width: 20px;
        height: 20px;
    }
    .profile .profile-text button{
        height: 30px;
        width: 100px;
        font-size: 15px;
        margin: 10px 0;
    }
    .profile .profile-img img{
        width: 70%;
    }
}
@media only screen and (max-width:460px) {
    .profile{
        flex-direction: column-reverse;
    }
    .profile .profile-text{
        text-align: left;
        padding: 15px 0 0 0;
        width: 90%;
    }
    .profile .profile-text h1{
        font-size: 30px;
    }
    .profile .profile-text p{
        font-size: 15px;
    }
    .profile .profile-img img{
        width: 90%;
    }
    .profile .profile-text button{
        margin: 20px 0 0 0;
        height: 40px;
        width: 140px;
    }
}