.projects{
    margin: 50px 10%;
}
.projects h2{
    color: var(--green);
    font-size: 30px;
    display: flex;
}
.projects h2::after{
    content: "";
    display: block;
    position: relative;
    align-self: center;
    top: 4px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
}
.projects .project-container{
    padding: 70px 0;
}
.projects .project-container .container-img{
    width: 100%;
    pointer-events: none;
    pointer-events: none;
    user-select: none;
}
.projects .project-container .container-img .projectimg::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 1;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    background-color: #0a192f;
    mix-blend-mode: screen;
}
.projects .project-container .container-img img{
    width: 50%;
    background-color: #233554;
    object-fit: contain;
    z-index: 2;
    pointer-events: none;
    user-select: none;
}