.cursor {
  position: fixed;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  border: 1px solid white;
  z-index: 9999;
  opacity: 1;
  pointer-events: none;
  transition: 0.3s all ease;

  @media (max-width: 460px) {
    display: none;
  }
}

@keyframes cursormoves {
  0% {
    transform: translateX(0px);
    border-color: white;
  }
  25% {
    transform: translateX(20px);
    color: blueviolet;
  }
  50% {
    transform: translateX(-20px);
    border-color: yellow;
  }
  75% {
    transform: translateX(20px);
    border-color: blueviolet;
  }
  100% {
    transform: translateX(0px);
    border-color: white;
  }
}
