:root {
  --navy: #11081f;
  --lightest-navy: #ccd6f6;
  --light-navy: #8892b0;
  --green: #64ffda;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --lato: "Lato", sans-serif;
  --ptfont: "PT Sans", sans-serif;
}
::selection {
  background-color: #233554;
  color: var(--lightest-navy);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #1d1e20; */
  /* color: white; */
  background-color: var(--navy);
  color: var(--light-navy);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
