.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0px;
  z-index: 99;
  width: 100vw;
}
.scroll .navbar {
  transition: 0.5s ease all;
  animation: 0.5s navanimate;
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
  backdrop-filter: saturate(130%) blur(14px);
}
@keyframes navanimate {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
.navbar h1 {
  font-family: "Lato", sans-serif;
  font-size: 25px;
}
.navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.navbar ul li {
  font-family: "PT Sans", sans-serif;
  padding: 0 20px;
  font-size: 18px;
}
.navbar ul li a {
  cursor: pointer;
  text-decoration: none;
  color: var(--light-navy);
}
.navbar ul li a.active {
  color: var(--green);
}
.navbar ul li a:hover {
  transition: 0.4s all ease;
  border-bottom: 1px solid white;
  color: var(--green);
}
.navbar ul li button {
  background-color: transparent;
  border: none;
  margin: auto;
  cursor: pointer;
  width: 32px;
}
.navbar ul li button svg {
  height: 18px;
  color: var(--light-navy);
  padding-top: 7px;
}
/* .navbar ul li #moon{
    display: none;
} */
.none {
  display: none;
}
.block {
  display: block;
  opacity: 1;
}
.nav-menu-btn {
  display: none;
}
.navbar-btn {
  display: none;
}
@media only screen and (max-width: 768px) {
  .navbar h1 {
    font-size: 20px;
  }
  .navbar ul li {
    padding: 0 10px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 460px) {
  .navbar {
    margin: 0 0;
    justify-content: space-between;
  }
  .navbar h1::before {
    content: "";
    padding: 0 10px;
  }
  .navbar .navbar-btn::after {
    content: "";
    padding: 0 10px;
  }
  .navbar h1 {
    font-size: 20px;
  }
  .navbar ul {
    display: none;
  }
  .navbar ul li {
    font-size: 10px;
  }
  .navbar ul li button svg {
    height: 14px;
  }
  .navbar-btn {
    display: block;
  }
  .nav-menu-btn svg {
    background-color: var(--navy);
  }
  .navbar-btn button {
    background-color: transparent;
    border: none;
  }
  .navbar-btn button svg {
    transform: rotate(270deg);
  }
}

/* res nav css  */
.res-nav {
  overflow: hidden;
  position: fixed;
  right: 0px;
  z-index: 999;
  width: 60vw;
  height: 100vh;
  background-color: var(--light-Yankees-Blue);
  animation: 0.5s resnav;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
}
@keyframes resnav {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0px);
  }
}
.res-nav button {
  background-color: transparent;
  border: none;
}
.res-nav button svg {
  transform: rotate(270deg);
}
